/Aula4_0509/nbproject/private/
/Aula4_0509/build/
/TarefaAula4_0509/nbproject/private/
/TarefaAula4_0509/build/
/Aula05POO_1209/nbproject/private/
/Aula05POO_1209/build/
/TarefaAula05/nbproject/private/
/TarefaAula05/build/
/Aula6VueTasks/nbproject/private/
/Aula6VueTasks/build/
